ACTION=="add", ATTR{idVendor}=="04d9", SUBSYSTEM=="usb", RUN+="/home/segfault42/Documents/42_drivers_and_interrupts/add.sh"
ACTION=="remove", ATTR{idVendor}=="04d9", SUBSYSTEM=="usb", RUN+="/home/segfault42/Documents/42_drivers_and_interrupts/remove.sh"
